@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

@keyframes book {
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes hide {
    to {
        border-top-width: @line / 10;
        opacity: 0;
    }
}

body {
    min-width: 1200px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
    text-align: center;
    color: @blue;
    text-transform: uppercase;
    font-size: @line * 4;
    
    position: relative;
    
    z-index: 20;
    
    cursor: url('../svg/cursor-pointer.svg') 16 0, pointer !important;
    
    &:hover {
        color: @orange;
        
        .arrow {
            border-top-color: @orange;
        }
    }
    
    .arrow {
        display: block;
        
        border: @line * 8 solid @dark-color;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: none;
        
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    
    &.done {
        cursor: url('../svg/cursor-default.svg'), default !important;
        
        &:hover {
            color: @blue;
        }
    }
}

.autobios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0;
    
    overflow: hidden;

    .semen,
    .vasil{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        padding-left: @line *3 ;
        width: 40%;
        min-width: 500px;
        
        background-color: @window-color;
        
        padding-bottom: @line;
        
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        
        opacity: 0;
        
        transform: translateY(-100%);
        
        h3{
            margin: @line auto 0;
            text-transform: uppercase;
            font-size: @line * 2.5;
            color: @blue;
        }
        
        p {
            display: block;
            width: 90%;
            border-bottom: 1px solid @dark-color;
            
            font-size: @line * 1.7;
            line-height: 1.5;
            word-wrap: break-word;
            
            &::first-letter {
                margin-left: @line *2;
                font-size: @line *  3 ;
                text-transform: uppercase;
                color: darken(@orange, 10px);
            }
        }
    }
    
    &.done {
        height: auto;
        
        h2 {
            
        }      
    }
    
    .vasil {
        border-left: @line / 2 solid
        @dark-color;
    }
    
    .semen {
        border-right: @line / 2 solid @dark-color;
        margin-right: @line;
    }
}