@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

.move-flags(@n) when (@n > 1) {
    &:nth-of-type(@{n}) {
        transform: 
            translateX(200%)
            translateY(@line * (20 - 5.5 * @n))
            scale(4.5);
    }
    .move-flags(@n - 1);
}

body {
   min-width: 1200px;
}

.diversity {
    margin: 0;
    font-size: @line * 4;
    color: darken(@blue, 10px);
    margin-bottom: @line * 2;
    float: left;
    
    &:last-of-type {
        float: right;
        margin-top: @line * 2;
    }
}

.foreign-lang {
    display: flex;
    justify-content: flex-start;
    
    margin: 0 auto;
    padding-left: @line * 2;
    width: 100%;
    min-height: @line * 32;
    
    .foreigner {
        width: 50%;
        height: inherit;
        position: relative;

        border-left: @line * 2 solid @dark-color;
        
        overflow: hidden;
        
        .language {
            width: @line * 8;
            height: @line * 4;
            position: relative;
            
            margin-left: @line;
            margin-top: @line * 1.5;
            
            background-color: transparent;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            outline: @line / 5 solid @dark-color;
            outline-offset: none;
            
            transform-origin: left;
            transition-duration: 0.3s;
            
            cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
            
            &.ukr {
                background-image: url('../svg/ua.svg');
            }
            
            &.rus {
                background-image: url('../svg/ru.svg');
            }
            
            &.eng {
                background-image: url('../svg/gb.svg');
            }
            
            &.ger {
                background-image: url('../svg/de.svg');
            }
            
            &.lat {
                background-color: @red;
                background-image: url('../svg/SPQRomani.svg');
            }
            
            &.name { 
                heigth: 45%;
                
                margin-top: @line / 5;

                font-size: @line * 2.5;
                font-weight: bold;
                line-height: @line * 4;

                text-align: center;
                color: @window-color; 
                background-color: @dark-color;
                
                cursor: url(../svg/cursor-default.svg), default;
                
                &:hover {
                    transform: none;
                    outline-color: @dark-color;
                }
            }
            
            &:hover {
                transform: scale(1.1);
                
                outline-color: @blue;
            }
            
            .skill {
                opacity: 0;
            }
            
            &.active {
                .move-flags(6);
                
                outline-color: @blue;
                
                .skill {
                    opacity: 1;
                    position: absolute;
                    background-color: rgba(227, 237, 217, 0.85);
                
                    width: inherit;
                    height: inherit;
                
                    table {
                        width: inherit;
                        height: inherit;
                        
                        td {
                            font-size: @line * 0.55;
                            &::first-letter {
                            color: darken(@blue, @line);
                            padding-left: @line / 2;
                            font-size: @line  * 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
}