@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

.make-menu(@n) when (@n > 0) {    
    &:nth-of-type(@{n}) {
        background-color: lighten(@blue, 3% * (@n + 1));
        transition-delay: @n / 4s;
        transition-timing-function: ease;
        transition-duration: 1s;
        transition-property: background-color;
        transform:
            rotate(-72deg + (@n * 72)) 
            skewX(18deg)
            translate(-3px, -3px);
        z-index: 5;
        
        &::before {
            transform: 
                skewX(-18deg)
                rotate(-(72 * @n) + 72deg);
        }
    }
    .make-menu(@n - 1);
}

header ul {
    display: none;
}

.menu {
    display: block;
    position: relative;
    width: @line * 40;
    height: @line * 40;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    
    z-index: 10;
    
    cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
    
    &-front,
    &-basic {
        display: block;
        
        opacity: 0;
        width: 100%;
        height: 100%;
        transition-property: opacity;
        transition-delay: 0.1s;
        transition-duration: 1s;
    }
    &-front {
        position: absolute;
        top: 0;
        
        background-color: @blue;
        font-size: @line * 4;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: @line * 40;
    }
    
    &-basic {
        background-color: @dark-color;
    }
    
    &-item {
        display: block;
        position: absolute;
        margin: 0;
        
        width: @line * 20;
        height: @line * 20;

        transform-origin: bottom right;
        
        &.animate {
            .make-menu(5);

            &:nth-of-type(5)::before {
                background-position: 90% 15%;
                background-image: url('../svg/photos.svg');
            }
            
            &:nth-of-type(4)::before {
                background-position: 37% 5%;
                background-image: url('../svg/autobio.svg');
            }
            
            &:nth-of-type(3)::before {
                background-position: 10% 30%;
                background-image: url('../svg/self-info.svg');
            }
            
            &:nth-of-type(2)::before {
                background-position: 35% 85%;
                background-image: url('../svg/languages.svg');
            }
            
            &:nth-of-type(1)::before {
                background-position: 90% 90%;
                background-image: url('../svg/programming.svg');
                background-size: 63% 63%
            }
            
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                transform-origin: center;
                background-size: 50% 50%;
            }
            
            &:hover {
                transition: none;
                box-shadow: inset 0 0 0 @line * 10 @orange;
            }
        }
    }
    .active {
        opacity: 1;
    }
}