@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

h2 {
    margin: 0;
    margin-bottom: @line;
    text-align: center;
    text-transform: uppercase;
    font-size: @line * 2;
}

.container {
    display: block;
    position: relative;
    float: right;
    margin-right: 17.5%;
    
    height: @line * 40;
    width: 65%;
    
    
    transition-duration: 0.3s;
    transition-property: background-image;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/photo-1.jpg);
    
    .arrow-right,
    .arrow-left {
        display: block;
        height: @line * 10;
        width: @line * 10;
        
        position: absolute;
        
        transform-origin: center;
        transform: rotate(-45deg);
        top: 37.5%;
        
        transition-duration: 0.3s;
        
        cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
        
        &:hover {
            transform: 
                rotate(-45deg)
                scale(1.5);
        }
    }
    
    .arrow-left {
        box-shadow: inset @line * 2 @line * 2 0 @dark-color;
        right: 95%;
        
        &:hover {
            box-shadow: inset @line * 2 @line * 2 0 @blue;
        }
    }
    
    .arrow-right {
        box-shadow: inset -@line * 2 -@line * 2 0 @dark-color;
        left: 95%;
        
        &:hover {
            box-shadow: inset -@line * 2 -@line * 2 0 @blue;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    
    float: right;
    margin-right: 7.5%;
    
    min-height: @line * 13;
    width: 85%;
    
    margin-top: @line * 2;
    padding-bottom: @line * 2;
    
    flex-wrap: wrap;
    
    img {
        margin: @line * 2 auto 0 auto;
        height: @line * 10;
        box-shadow: 0 0 0 @line / 2 @dark-color;
        
        transition-duration: 0.3s;
        transition-property: box-shadow;
        
        cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
        
        &:hover {
            box-shadow: 0 0 0 @line / 2 @blue;
        }
        
        &.active {
            box-shadow: 0 0 0 @line @blue;
            cursor: default;
        }
    }
}