@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

@keyframes arrow {
    50% {
        transform: scaleY(2);
    }
}

.table-container {
    display: block;
    padding: 0 @line * 5 0 @line * 5;
    
    table {
        border-collapse: collapse;
        width: 100%;
        
        caption {
            font-size: @line * 3;
            color: @blue;
            font-weight: bold;
            font-size: @line * 3;
            
        }
        
        td {
            padding: @line;
            border: @line / 5 solid @blue;
            background-color: @window-color;
        }
        
        .table-header {
            color: @window-color;
            font-weight: bold;
            font-size: @line * 3;
            
            td {
                position: relative;
                background-color: @blue;
                border-bottom: none;
                
                text-align: center;
                
                &:not(:first-child) {
                    padding-left: @line * 2.5;
                    border-left-color: @window-color;
                }
                
                &:not(:last-child) {
                    border-right-color: @window-color;
                }
            }
        }
        
        .content {
            font-size: @line * 1.7;
            font-weight: bold;
            
            td {
                position: relative;
                
                &[data-level="good"] {
                    color: darken(@green, 10%);
                }
                
                &[data-level="intermediate"] {
                    color: darken(@orange, 10%);
                }
                
                &[data-level="basic"] {
                    color: darken(spin(@blue, 90deg), 10%);
                }
                
                &[data-level="no"] {
                    color: darken(@red, 10%);
                }
                
                &:first-child {
                    color: darken(@blue, 10%);
                }
                
                &:not(:first-child) {
                    text-align: right;
                    text-transform: uppercase;
                    cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
                    
                    .arrow {
                        display: block;
                        position: absolute;
                        
                        border: @line solid transparent;
                        border-top-color: @blue;
                        
                        transform: scaleY(1.5);
                        
                        bottom: 0;
                        
                        &.hovered {
                            animation-name: arrow;
                            animation-duration: 0.9s;
                            animation-iteration-count: infinite;
                        }
                    }
                    
                    .details {
                        position: absolute;
                        
                        top: 0;
                        left: 0;
                        width: 100%;
                        min-height: 100%;
                        background: @blue;
                        
                        text-align: left;
                        
                        z-index: -5;
                        
                        transition-property: all;
                        transition-duration: 0.3s;
                        
                        opacity: 0;
                        
                        span {
                            color: @window-color;
                            font-weight: 500;
                            font-size: @line * 1.7;
                            text-transform: none;
                            
                            i {
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
            
            &:nth-of-type(5) ~ .content {
                td:not(:first-child) {
                    
                    .details {
                        top: auto;
                        bottom: 0;
                        box-sizing: content-box;
                    }
                }
            }
        }
    }
}