@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

.sam,
.vas {
    padding: @line * 2;
    border: @line / 2 solid @dark-color;
    
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    background-color: @window-color;
    
    .features {
        order: 0;
        margin: 0 auto auto 0;
        
        h3 {
            color: @blue;
            margin: 0 @line 0 auto;      
        }
        
        ul {
            list-style-position: inside;
            list-style-image: url(../svg/list-right.svg);
            padding-left: @line;
            margin: @line @line auto auto;
            
            li {
                cursor: url('../svg/cursor-text.svg') 8 8, text;
                margin-bottom: @line / 2;
                font-weight: bold;
            }
        }
    }
    
    .profile-img {
        order: 2;
        margin: 0 0 auto auto;
        
        img {
            width: @line * 20;
            height: inherit;
            border: @line / 2 solid @blue;
        }
    }
    
    .self-info {
        order: 1;
        max-width: @line * 75;
        margin-right: @line * 2;
        
        h2 {
            margin-top: 0;
            text-transform: uppercase;
            font-size: @line * 2.5;
            line-height: @line * 2.5;
            text-align: center;
            color: @blue;
        }
        
        p {
            line-height: @line * 2;
            font-size: @line * 1.75;
            
            &::first-letter {
                color: @blue;
                font-size: @line * 2.5;
                margin-left: @line * 2;
                font-weight: bold;
            }
            
            &.continue {
                margin-bottom: 0;
                
                + p {
                    margin-top: 0;
                    
                    &::first-letter {
                        color: inherit;
                        font-size: inherit;
                        
                    }
                }
            }
        }
    }
}

.vas {
    margin-bottom: @line * 2;
    
    .self-info {
        margin-left: -@line * 1.5;
    }
}