@dark-color: #353535; //main-color
@background-color: #e8e8e8; //background-color
@window-color: #f5f5f5; //window-color
@blue: #3298fe; //border-color
@orange: spin(@blue, 180deg);
@red: spin(@orange, -30deg); //bad-color
@green: spin(@blue, -90deg); //good-color

@line: 10px;

.set-text-block(@size: 1) {
    @the-size: @size * @line;
    font-size: @the-size - 2;
    line-height: @the-size;
    padding: @line @line 0 @line;
}

@keyframes logo {
    50% {
        border-radius: @line;
    }
    
    to {
        transform: scale(1.5);
        border-radius: 50%
    }
} 

html,
body { 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    background-color: @background-color;
    margin: 0;
    color: @dark-color;
    font-family: monospace;
    
    min-width: 650px;
    
    cursor: url('../svg/cursor-default.svg'), auto;
    
    p,
    span,
    h2,
    h3 {
        cursor: url('../svg/cursor-text.svg') 8 8, text;
    }
    
    a {
        cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
    }
    
    &::-webkit-scrollbar {
        width: @line * 2;
        height: @line * 2;
    
        &-track-piece {
            background-color: @window-color;
        }
        
        &-thumb {
            background-color: @dark-color;
            border: @line / 5 solid @window-color;
            
            &:hover {
                background-color: @blue;  
            }
        }
        
        &-button:single-button {
            background-repeat: no-repeat;
            background-position: center;
            background-color: @window-color;
            
            &:horizontal {
                &:start {
                    background-image: url('../svg/list-left.svg');
                }
                
                &:end {
                    background-image: url('../svg/list-right.svg');
                }
            }
            
            &:vertical {
                &:start {
                    background-image: url('../svg/list-up.svg');
                }
                
                &:end {
                    background-image: url('../svg/list-down.svg');
                }
            }
            
            &:hover {
                background-color: @dark-color;
                border: @line / 5 solid @window-color;
            }
        }
    }
}

header,
footer {
    position: relative;
    
    margin: 0;
    color: @blue;
    background-color: @dark-color;
    padding: @line;
    
    min-height: @line * 5;
    
    .logo {
        position: absolute;
    
        margin: (@line / 2) 0 (@line / 2) 0;
    
        height: @line * 4;
        width: @line * 4;
    
        transform-origin: center;
        animation-duration: 1.2s;
        animation-fill-mode: both;
    
        background: url('../svg/logo.svg') no-repeat 0 0;
        background-size: 100% 100%;
        
        border-radius: 50%;
        
        &:hover {
            animation-name: logo;
        }
    }
    
    a {
        color: @blue;
    }
}

header {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    
    .logo {
        left: @line * 2;
    }

    h1 {
        margin: 0 auto 0 @line * 5.5;
        .set-text-block(3.5);
        
        cursor: url(../svg/cursor-default.svg), default;
    }
    
    ul {
        position: relative;
        
        margin: @line / 2 0 0 0;
        padding: 0;
        min-width: @line * 40;
        
        display: flex;
        align-items: center;
        list-style: none;
        background-color: @window-color;
        
        li {
            background-color: lighten(@dark-color, 8px);
            box-shadow: inset @line / 2 0 0 0 @window-color;
            
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
           
            height: 100%;
            
            overflow: hidden;        
            
            &:nth-of-type(1) {
                background-image: url('../svg/programming-light.svg');
            }
            &:nth-of-type(2) {
                background-image: url('../svg/languages-light.svg');
            }
            &:nth-of-type(3) {
                background-image: url('../svg/self-info-light.svg');
            }
            &:nth-of-type(4) {
                background-image: url('../svg/autobio-light.svg');
            }
            
            &:nth-of-type(5) {
                background-image: url('../svg/photos-light.svg');
            }
            
            a {
                width: @line * 8;
                height: inherit;
                background-color: transparent;
                margin: 0;
            }
            
            &:hover {
                transform: scale(1.2);
                background-color: lighten(@blue, 8px);

                box-shadow: inset 0 0 0 @line / 4 @window-color;

                transition-property: background-color, transform;
                transition-duration: 0.2s;
                transition-timing-function: linear;
                transform-origin:  center;
                
                z-index: 20;
            }
        }      
    }
}

a {
    
    display: block;
    .set-text-block(1.5);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: @line;
    text-decoration: underline;
    transition-duration: 50ms;
    
    cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
    &:hover {
        text-decoration: none;
    }
    
    &.main {
        height: inherit;
        box-shadow: 
            inset @line / 2 0 0 0 @window-color,
            inset -@line / 2 0 0 0 @window-color;
        background-color: @orange;
        
        font-size: @line * 2;
        padding-top: @line / 1.2;
        color: @window-color;
        text-decoration: none;
        
        &:hover {
            box-shadow: none;
            color: @dark-color;
        }
    }

}

main {
    margin: 0;
    position: relative;
    padding: @line * 2;
    flex-grow: 1;
    .contacts {
        display: none;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        transform-origin: bottom right;
        transform: scale(0.8);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        
        a,
        span {
            font-size: @line * 1.75;
        }
        
        .v,
        .s {
            margin-right: @line * 2;
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding: @line;
                box-shadow: 0 0 0 @line / 3 @blue;
                background-color: @window-color;
                li {
                    position: relative;
                    padding: @line * 2;
                    padding-left: @line * 6;
                    a {
                        margin: 0;
                        color: @blue;
                    }
                    span {
                        color: @blue;
                        font-weight: bold;
                    }
                    &::before {
                        display: block;
                        position: absolute;
                        content: "";
                        top: @line;
                        left: 0;
                        width: @line * 4.5;
                        height: @line * 4.5;
                        border-radius: 10px;
                        box-shadow: 0 0 0 @line / 5 @blue;
                        background-color: @blue;
                        background-image: url(../img/social-sprite.jpg);
                        background-repeat: no-repeat;
                    }
                    &.fb::before {
                        background-position: -78px -28px;
                    }
                    &.vk::before {
                        background-position: -21px -84px;
                    }
                    &.tw::before {
                        background-position: -78px -141px;
                    }
                    &.skype::before {
                        background-position: -191px -85px;
                    }
                    &.mail::before {
                        background-position: -247px -29px;
                    }
                    &.tel::before {
                        background: none;
                        content: "tel num";
                        color: @blue;
                        text-transform: uppercase;
                        font-weight: bold;
                        box-shadow: none;
                        line-height: @line * 2.25;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: auto;
    padding-bottom: @line + 10px;
    
    .logo {
        right: @line * 3;
    }
    
    span,
    #cont-foot-link {
        float: right;
        
        margin: @line / 2 @line * 10 0 0;
        .set-text-block(1.6);
        padding: 0 !important;
    }
    
    #cont-foot-link {
        clear: right;
        cursor: url('../svg/cursor-pointer.svg') 16 0, pointer;
        
        .set-text-block(2);
        text-transform: uppercase;
        font-weight: 900;
        color: @blue;
    }    
}