<article class="contacts">
    <section class="v">
        <ul>
            <li class="vk">
                <a href="https://vk.com/id28441619" data-text="Vasil Philip on VKontakte"></a>
            </li>
            <li class="fb">
                <a href="https://www.facebook.com/vosily.phalka" data-text="Vasil Philip on Facebook"></a>
            </li>
            <li class="tw">
                <a href="https://twitter.com/PhilVasiliy" data-text="Vasil Philip on Twitter"></a>
            </li>
            <li class="skype"><span>vasya_188</span></li>
            <li class="mail"><span>urologept@gmail.com</span></li>
            <li class="tel"><span>+380666944381</span></li>
        </ul>
    </section>
    <section class="s">
        <ul>
            <li class="vk">
                <a href="https://vk.com/nem_ua" data-text="Semen Verbych on VKontakte"></a>
            </li>
            <li class="fb">
                <a href="https://www.facebook.com/NeoNemoUA" data-text="Semen Verbych on Facebook"></a>
            </li>
            <li class="tw">
                <a href="https://twitter.com/Mad_Dog_UA" data-text="Semen Verbych on Twitter"></a>
            </li>
            <li class="skype"><span>nem__ua</span></li>
            <li class="mail"><span>nem97.sv@gmail.com</span></li>
            <li class="tel"><span>+380951772352</span></li>
        </ul>
    </section>
</article>