<footer>
    <div class="logo"></div><span>Made by VPh and NeoNemo</span>
    <br> <span id="cont-foot-link" href="Contacts.html">Contact info</span>
</footer>

<script src="assets/scripts/script.js"></script>