<header>
    <h1>Resume</h1>
    <div class="logo logo-header"></div>
    <ul>
        <li>
            <a href="Programming.html" data-text=""></a>
        </li>
        <li>
            <a href="Language.html" data-text=""></a>
        </li>
        <li>
            <a href="Self-info.html" data-text=""></a>
        </li>
        <li>
            <a href="Autobio.html" data-text=""></a>
        </li>
        
        <li>
            <a href="Photos.html" data-text=""></a>
        </li>
        <li>
            <a class="main" href="index.html" data-text="Main Page"></a>
        </li>
    </ul>
</header>